@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* overflow-x: hidden; */
  
}
/* font-family: 'Poppins', sans-serif; */
body {
  overflow-x: hidden;
  
}
.navbar{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;


}
.active{
  border-bottom: 2px solid black;
}
.navbar-brand{
    letter-spacing: 2px;
}
.footer{
    color: white;
    background: linear-gradient(90deg, rgb(77, 76, 78) 0%, rgba(45,33,33,1) 50%, rgba(10,8,5,1) 100%);

}
.footer a{
    text-decoration: none;
    color: white;
padding: 4px;
}
.footer a:hover{
    border-bottom: 2px solid rgb(136, 136, 119);
    color: wheat;
}

.errorPage a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
}

.errorPage a:hover{
    color:white;
    background-color: black;
}

/* -----------------------------------------Register------------------------------ */
.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: url(cart2.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.form{
    background-color: rgb(17, 16, 17,0.7);
    color: wheat;
    /* border: 2px solid black; */
}
.form input{
  
  background-color: transparent;
border-radius: 0 !important;
  color: rgb(241, 240, 236) !important;
  outline: none !important;
  border: 0;
  border-bottom: 2px solid wheat !important;
}

.form input[type="email"]::placeholder{
  color: wheat; /* Change the placeholder text color to red */
  outline: none !important;
  border: 0 !important;
  
}
.form input[type="password"]::placeholder {
  color: wheat; /* Change the placeholder text color to red */
  outline: none !important;
  border: 0 !important;
}
.form input[type="text"]::placeholder {
  color: wheat; /* Change the placeholder text color to red */
  outline: none !important;
  border: 0 !important;
}
.form input[type="tel"]::placeholder {
  color: wheat; /* Change the placeholder text color to red */
  outline: none !important;
  border: 0 !important;
}




/* Modify the focus outline */
.form-control:focus {
  box-shadow: none; 
}




.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form input[type="text"]:focus,
.form input[type="tel"]:focus {
  outline: none !important; /* Change the outline color to blue when focused */
  /* You can also modify other properties like background-color, box-shadow, etc. */
  background-color: transparent !important;

}

.form button{
  background-color: wheat;
  color: black;
  border: 2px solid black;
}

